.sm-accordion .pad  {
  padding: 0.2rem;
}
.sm-accordion .sm-list .am-list-body {
  border-top: 0;
}
.sm-accordion .sm-list:after {
  border-bottom: 0;
}


.sm-accordion {
  height:  400px;
  overflow: scroll;
}

.pad {
  text-align: left;
}

.sm-panel {

}

.sm-title {
  // font-size: 18px;
}

.sm-name {
  // font-size: 15px;
  color: #c4c4c4;
  overflow: hidden;
}

